.app-shell {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.app-container {
    width: 90%;
    max-width: none;
    margin-left: auto;
    margin-right: auto;
}

.app-header {
    background-color: rgba(0, 0, 0, 0.15);
}